<div class="head">
  <h2>{{title}}</h2>
</div>
<div class="content">
  <div class="col-md-2">
    <div class="list-group">
      <button type="button" [disabled]="!((training?.curIndex == -1 && item.no == 1) || (passed && item.no == (training?.curIndex + 1)))"
        (click)="onTrainingItemClicked(item)" class="btn big-button" *ngFor="let item of training?.items" [ngClass]="{'btn-default':item.no == 1 && training.curIndex == -1,'btn-primary':item.no == training.curIndex,'btn-danger':item.no != training.curIndex && (item.no != 1 || item.no == 1 && training.curIndex != -1)}">
        {{item.no + ". " + item.name}}
      </button>
    </div>
  </div>
  <div class="col-md-10">
    <div class="row main-panel">
      <div class="col-md-9">
        <div *ngIf="curItem == null; then splashBlock else stepBlock"></div>
        <ng-template #splashBlock>
          <img [src]="training?.splashImgURL" class="full">
        </ng-template>
        <ng-template #stepBlock>
          <div>
            <div class="col-md-8">
              <img [src]="img" *ngFor="let img of training?.items[training?.curIndex - 1].imgs" [ngClass]="{'full':training.items[training.curIndex-1].imgs.length == 1,'vsize2':training.items[training.curIndex-1].imgs.length == 2, 'vsize3':training.items[training.curIndex-1].imgs.length==3}">
            </div>
            <div class="col-md-4">
              <ul class="training-info">
                <li *ngFor="let info of training.items[training.curIndex-1].infos" [ngClass]="{'text-danger':!passed,'text-success':passed}">
                  <span>{{info.content}}</span>
                </li>
              </ul>
            </div>
          </div>
        </ng-template>
      </div>
      <div class="col-md-3">
        <a [href]='curItem?.videoURL' class="btn big-button" [ngClass]="{'disabled':curItem == null, 'btn-danger':curItem==null, 'btn-info':curItem != null}">
          教学视频
        </a>
        <a [href]='curItem?.helpURL' class="btn big-button" [ngClass]="{'disabled':curItem == null, 'btn-danger':curItem==null, 'btn-info':curItem != null}">
          帮助
        </a>
        <div class="op-panel">
          <button (click)="onConfirm(dlgWarning, dlgConfirmation)" type="button" class="btn big-button" [ngClass]="{'btn-danger':curItem == null, 'btn-primary':curItem != null}">
            确认
          </button>
          <button (click)="onNext()" [disabled]="!passed" type="button" class="btn big-button" [ngClass]="{'btn-danger':curItem == null, 'btn-default':curItem != null}">
            {{stepTitle}}
          </button>
        </div>
      </div>
    </div>
    <div class="row step-panel">
      <div class="process-bar">
        <ul>
          <li class="size7" *ngFor="let item of trainings" [ngClass]="{'selected':item.no == (index+1),'prev':item.no == index,'pprev':item.no < index,'next':item.no == (index+2), 'last': item.no != (index+1) && item.no == 7}">
            <span>{{item.title}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<app-modal #dlgWarning>
  <div class="app-modal-header">
    提示信息
  </div>
  <div class="app-modal-body">
    <p class="text-danger">未达成实训目标，请重试！</p>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default" (click)="dlgWarning.hide()">关闭</button>
  </div>
</app-modal>

<app-modal #dlgConfirmation>
  <div class="app-modal-header">
    教师确定
  </div>
  <div class="app-modal-body">
    <form>
      <div class="form-group">
        <label for="teacherPassword">密码</label>
        <p class='text-danger'>{{errorInfo}}</p>
        <input [(ngModel)]='teacherPwd' name="password" type="password" class="form-control" id="teacherPassword" placeholder="输入密码"
          #password>
      </div>
    </form>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default" (click)="dlgConfirmation.hide()">关闭</button>
    <button type="button" (click)="confirmPassword(dlgConfirmation)" class="btn btn-primary">确定</button>
  </div>
</app-modal>